@import url("./variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  font-family: var(--font-family);
}

.header {
  height: 12rem;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  position: fixed;
  background: var(--white-100);
  z-index: 1;
}

.desconto-div {
  width: 100%;
  height: 2rem;
  background: var(--blue-600);
  color: var(--white-100);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.destaque-desconto {
  background: var(--purple-700);
  padding: 2px 5px;
  border-radius: 5px;
}

.desconto-cupom {
  font-weight: 100;
  font-style: italic;
}

.navbar-items {
  width: 100%;
  margin-top: 3.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-busca {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.container-logo-busca {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.container-busca {
  position: relative;
  width: 30rem;
}

/* estilizando o input de busca */
#input-busca {
  width: 100%;
  height: 2.5rem;
  border: 1px solid var(--gray-200);
  border-radius: 10px;
  padding-left: 1rem;
  padding-right: 2.5rem;
}

#input-busca:focus {
  outline: none;
  border: 1px solid var(--blue-600);
}

/* estilizando o icone de busca */
#icon-busca {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.container-user-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.container-user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

#icon-user {
  font-size: 1.5rem;
  color: var(--blue-600);
}

.container-saudacao {
  font-size: 0.8rem;
}

#icon-cart {
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
}

.cart-quantity {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  width: 1rem;
  height: 1rem;
  background: var(--blue-600);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-100);
  font-size: 0.5rem;
}

.navbar-links {
  display: flex;
  margin-top: 1.5rem;
  gap: 2rem;
}

.container-todas-categorias {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

#icon-menu {
  font-size: 1rem;
  cursor: pointer;
}

.todas-categorias {
  font-size: 1rem;
  font-weight: bold;
}

.container-departamentos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.link-departamento {
  text-decoration: none;
  color: var(--black-900);
}

.container-todas-categorias:hover,
.link-departamento:hover {
  color: var(--blue-600);
}

.main {
  padding-top: 12rem;
}

.banner-supersale {
  background: var(--gray-100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-supersale {
  width: 400px;
  height: 360px;
}

.text-supersale {
  font-size: 4rem;
  font-weight: 200;
}

.text-supersale span {
  font-weight: 700;
}

.container-text-supersale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-supersale-descricao {
  color: var(--blue-600);
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 6px;
}

.supersale-desconto {
  color: var(--blue-600);
  font-size: 4rem;
}

.section-carrossel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.carrossel-container {
  width: 72rem;
  position: relative;
}

.carrossel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.carrossel-title {
  font-size: 1.2rem;
}

.carrossel-link {
  text-decoration: none;
  color: var(--gray-700);
}

.carrossel-slides {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carrossel-slide {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  gap: 1rem;
}

.carrossel-left {
  cursor: pointer;
  border-radius: 50%;
  border: solid 1px var(--blue-600);
  padding: 1rem;
  font-size: 1rem;
  color: var(--blue-600);
  position: absolute;
  top: 50%;
  left: -4rem;
  transform: translateY(-50%);
}

.carrossel-right {
  cursor: pointer;
  border-radius: 50%;
  border: solid 1px var(--blue-600);
  padding: 1rem;
  font-size: 1rem;
  color: var(--blue-600);
  position: absolute;
  top: 50%;
  right: -4rem;
  transform: translateY(-50%);
}

.carrossel-content {
  margin-top: 3rem;
  width: 15rem;
  border: solid 1px var(--gray-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
}

.carrossel-novo {
  background: var(--blue-900);
  color: var(--white-100);
  border-radius: 3px;
  width: 3.25rem;
  text-align: center;
}

.carrossel-descricao {
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
}

.carrossel-preco {
  font-size: 0.8rem;
  text-decoration: line-through;
  color: var(--gray-700);
}

.carrossel-discount {
  font-weight: bold;
}

.carrossel-parcelas {
  font-size: 0.8rem;
  color: var(--gray-700);
}

.carrossel-parcelas span {
  font-weight: bold;
}

.carrossel-comprar {
  padding: 0.6rem;
  background: var(--blue-600);
  color: var(--white-100);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.section-banner-caneca {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  width: 60rem;
}

.banner-caneca-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.banner-caneca-right {
  background: var(--gray-300);
}

.banner-caneca-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-banner-local {
  margin-top: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gray-300);
}

.banner-local-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}

.container-banner-local {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-right: 3rem;
  margin-left: 3rem;
}

.banner-local-descricao{
  color: var(--gray-700);
}

.icon-location-span {
  width: 1.5rem;
  height: 1.5rem;
  padding: 3rem;
  background: var(--blue-600);
  border-radius: 50%;
}

#icon-location {
  color: var(--white-100);
  font-size: 3rem;
  transform: translate(-50%, -50%);
}

.banner-local-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avanti-banner{
  background: url("../images/contato_banner.png");
  background-size: cover;
  height: 660px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.text-avanti-banner {
  font-size: 2rem;
  background: var(--blue-600);
  width: 100%;
  padding: 1rem;
  text-align: center;
  font-weight: 200;
  color: var(--white-100);
}

.section-newsletter {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.newsletter-title {
  font-size: 2rem;
  font-weight: bold;
}

.newsletter-title span {
  color: var(--blue-600);
}

.form-newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--gray-300);
  padding: 5rem;
  border-radius: 10px;
}

.input-newsletter {
  padding: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
}

.checkbox-newsletter {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5px;
  border: 2px solid #ccc;
  cursor: pointer;
  position: relative;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

.checkbox-newsletter:checked {
  background-color: #007bff;
  border-color: #007bff;
}

.checkbox-newsletter:checked::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-container{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.label-newsletter {
  font-size: 0.9rem;
  color: var(--gray-700);
}

.label-newsletter a {
  color: var(--gray-700);
}

.form-newsletter-button{
  padding: 1rem;
  background: var(--blue-600);
  color: var(--white-100);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}