:root {
  --white-100: #fff;
  
  --black-900: #000;

  --gray-100: #e7e7ea;
  --gray-200: #dedede;
  --gray-300: #c2c2c2;

  --blue-600: #005cff;

  --purple-700: #6220C1;

  --cyan-400: #5ec0be;

  --font-family: 'Nunito Sans', sans-serif;
}
